[Unit]
Description=Keypad MQTT

[Service]
User=pi
ExecStart=python3 /usr/local/keypad_mqtt/keypad_mqtt.py
StandardOutput=syslog

[Install]
WantedBy=multi-user.target